/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1a2a;
    color: white;
    padding: 15px 30px;
}

nav .brand{
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    color: #74C2EE;
}

nav img{
    width: 40px;
    vertical-align: middle;
}

nav .logo-group{
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    color: #76C7F3; 
    transition: 0.2s;
}

/* Whole search bar container */
.search-group{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  #searchInput{
    border: none;
    outline: none;
    padding: 7px;
    width: 220px;
    border-radius: 5px;
  }

  #btnSearch,
  #btnReset{
    padding: 7px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #dfe7e9;
  }
  
  #btnSearch:hover,
  #btnReset:hover{
    background-color: #cbd5d9;
  }

  .hero {
    height: 89.9vh;
    background-image: url("./images/beach.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    padding-left: 60px;          
  }

  .hero-text{
    max-width: 480px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.55);
  }
  
  .hero-text h1{
    margin-bottom: 25px;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 700;
  }
  
  .hero-text p{
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  
  
  
